<!DOCTYPE html>
<html class="ui-page-login">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>供应列表</title>
    #parse("mob/common/contextPath.vm")
    <script src="${link.contextPath}/mui/js/mui.pullToRefresh.js" type="text/javascript"></script>
    <script src="${link.contextPath}/mui/js/mui.pullToRefresh.material.js" type="text/javascript"></script>
</head>
<body>
#*<header class="mui-bar mui-bar-nav d_border_b">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title yahei f15">供应列表</h1>
</header>*#
<input type="hidden" id="q_area"/>
<input type="hidden" id="q_leavl"/>
<input type="hidden" id="q_order_num_column"/>
<input type="hidden" id="q_order_price_column"/>
<input type="hidden" id="q_goods_category" value="$!{category}"/>
<input type="hidden" id="q_goods_kinds"/>
<input type="hidden" id="q_goods_gender"/>
<input type="hidden" id="q_goods_max_weight"/>
<input type="hidden" id="q_goods_min_weight"/>
<div class="mui-content">
    <div id="slider" class="mui-slider mui-fullscreen">
        <div id="sliderSegmentedControl" class="m_tab mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <div class="t_nav d_border_b">
                <a href="javascript:;" class="qy"><em class="area">地区</em><i class="iconfont icon-xiasanjiao-copy f18"></i></a>
                <a href="javascript:;" class="px"><em class="pxn">排序</em><i class="iconfont icon-xiasanjiao-copy f18"></i></a>
                <a href="javascript:;" class="sx">筛选<i class="iconfont icon-xiasanjiao-copy f18"></i></a>
            </div>
        </div>
        <div class="mui-slider-group" style="margin-top:10px;">
            <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                <div id="scroll1" class="mui-scroll-wrapper">
                    <div class="mui-scroll ip_check hk_list">
                        <div class="mui-table-con">
                            <ul class="mui-table-view new_list" id="content_list">
                            </ul>
                            <div class="box10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box80"></div>
<div class="mask"></div>
<div  class="pop_alert pheight" id="area">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <input type="hidden" class="sheng">
            <input type="hidden" class="shi">
            <input type="hidden" class="qu">
            <ul class="i_city">
            </ul>
            <ul class=" ic_qy hied">
            </ul>
            <ul class=" ic_area  hied ">
            </ul>
        </div>
    </div>
</div>
<div  class="pop_alert pheight" id="paixu">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="t_con clear relative ">
                <ul class="sider">
                    <li class="cur"><a href="javascript:;">数量</a></li>
                    <li><a href="javascript:;">价格</a></li>
                </ul>
                <div id="tCont">
                    <div class="con">
                        <ul class="tlist mui-table-view  list">
                            <li class="mui-table-view-cell cur" data_number=""><a href="javascript:;">默认排序</a></li>
                            <li class="mui-table-view-cell" data_number="1"><a href="javascript:;"><i class="iconfont icon-paixujiang f18"></i>按数量从少到多</a></li>
                            <li class="mui-table-view-cell" data_number="2"><a href="javascript:;"><i class="iconfont icon-paixu f18"></i>按数量从多到少</a></li>
                        </ul>
                    </div>
                    <div class="con hied">
                        <ul class="tlist mui-table-view  list ">
                            <li class="mui-table-view-cell cur" data_price=""><a href="javascript:;">默认排序</a></li>
                            <li class="mui-table-view-cell" data_price="2"><a href="javascript:;"><i class="iconfont
                            icon-paixujiang f18"></i>按价格从高到低</a></li>
                            <li class="mui-table-view-cell" data_price="1"><a href="javascript:;"><i class="iconfont
                            icon-paixujiang f18"></i>按价格从低到高</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="pop_alert" id="shaixuan">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <ul class="mui-table-view  list d_mui_ul d_mui_form">
                <li class="mui-table-view-cell cur">
                    品类
					<span class="sxlei">
						<a href="javascript:;" class="all cur" data_category="ALL">全部</a>
                        <a href="javascript:;" data_category="1001">肉驴</a>
                        <a href="javascript:;" data_category="1002">驴驹</a>
                        <a href="javascript:;" data_category="1003">种驴</a>
					</span>
                </li>
                <li class="mui-table-view-cell cur">
                    <span class="d_lable">品种</span>
                    <div class="d_pz">
                        <div class="sxlei">
                            <input type="hidden" class="radio" value="" />
                            <a href="javascript:;" class="all cur" data_kinds="ALL">全部</a>
                            <a href="javascript:;" data_kinds="DZL">德州驴</a>
                            <a href="javascript:;" data_kinds="GZL">关中驴</a>
                            <a href="javascript:;" class="dmore">更多></a>
							<span class="sxlei sxlei1 hied">
								<a href="javascript:;" data_kinds="JNL">晋南驴</a>
                                <a href="javascript:;" data_kinds="GLL">广灵驴</a>
                                <a href="javascript:;" data_kinds="JML">佳米驴</a>
                                <a href="javascript:;" data_kinds="MYL">泌阳驴</a>
                                <a href="javascript:;" data_kinds="HYL">淮阳驴</a>
                                <a href="javascript:;" data_kinds="QYL">庆阳驴</a>
                                <a href="javascript:;" data_kinds="XJL">新疆驴</a>
                                <a href="javascript:;" data_kinds="XNL">西南驴</a>
                                <a href="javascript:;" data_kinds="HBL">华北驴</a>
                                <a href="javascript:;" class="dmore">收起></a>
							</span>
                        </div>
                    </div>
                </li>
                <li class="mui-table-view-cell cur">
                    性别
					<span class="sxlei">
						<a href="javascript:;" class="all cur" data_gender="ALL">全部</a>
                        <a href="javascript:;" data_gender="GONG">公</a>
                        <a href="javascript:;" data_gender="MU">母</a>
					</span>
                </li>
                <li class="mui-table-view-cell cur">
                    估重
					<span class="sx_gz">
						<input type="text" placeholder="最小"  id="weight_min" class="text">kg<em class="pad10-l">--</em>
                        <input type="text" placeholder="最大"  id="weight_max" class="text">kg
					</span>
                </li>
            </ul>
            <div class="box10"></div>
            <div class="mui-content-padded" id="qrBtn">
                <button type="button" class="tjbtn mui-btn mui-btn-block d_bl white d_nobor" >确定</button>
            </div>
            <div class="mui-content-padded " id="chongzhi">
                <button type="button" class="tjbtn mui-btn mui-btn-block d_nobor">重置</button>
            </div>
        </div>
    </div>
</div>
<script src="${link.contextPath}/mstatic/js/goods/goods_supply_list.js" type="text/javascript"></script>
<script src="${link.contextPath}/mstatic/js/area/area.js" type="text/javascript"></script>
<script src="${link.contextPath}/mstatic/js/goods/goods_query_area.js" type="text/javascript"></script>
<script id="goodsListTpl" type="text/html">
    {{each items as val}}
    <li class="mui-table-view-cell mui-media" data="{{val.id}}">
        <a href="#">
            {{if val.picUrl==null}}
            <img class="mui-media-object mui_img mui-pull-left" src="/mstatic/img/defaulthead.png">
            {{else}}
            <img class="mui-media-object mui_img mui-pull-left" src="{{val.picUrl}}">
            {{/if}}
            <div class="mui-media-body">
                <p class="black3">
                    {{if val.categoryId!='1002'}}
                        {{if val.mapAttr.GAV_VARIETY}}
                            <span class="f15">{{val.mapAttr.GAV_VARIETY}}-{{val.mapAttr.GAV_YEAR_AGE}}-{{val.categoryName}}</span>
                        {{else}}
                            <span class="f15">{{val.mapAttr.GAV_YEAR_AGE}}-{{val.categoryName}}</span>
                        {{/if}}
                    {{else}}
                        {{if val.mapAttr.GAV_VARIETY}}
                            <span class="f15">{{val.mapAttr.GAV_VARIETY}}-{{val.mapAttr.GAV_MONTH_AGE}}-{{val.categoryName}}</span>
                        {{else}}
                            <span class="f15">{{val.mapAttr.GAV_MONTH_AGE}}-{{val.categoryName}}</span>
                        {{/if}}
                    {{/if}}
                    <span class="mui-pull-right "><em class="d_blue fb f15 arial">{{val.price}}</em>元/{{val
                        .unitText}}</span>
                </p>
                <p class="black3"><em class="d_blue  arial">{{val.currStock}}</em>{{val.stockUnitTxt}}</p>
                <p class="gray_6"><span class="mui-pull-right f12">{{val.addrText}}</p>
            </div>
        </a>
    </li>
    {{/each}}
</script>
    #parse("mob/common/bottomTab.vm")
</body>
</html>
