<!DOCTYPE html>
<html class="ui-page-login">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>搜索结果</title>
	#parse("mob/common/contextPath.vm")
    <style>
        .mui-pull-bottom-pocket, .mui-pull-top-pocket{
            visibility: visible;
        }
    </style>
</head>
<body>

<div class="mui-content mui-content1" >
    <div id="slider" class="mui-slider mui-fullscreen">
        <div class="relative">
                <nav class=" nopad relative">
                <div class="clear d_bl height40">
                    <div class="du_search d_query  relative ">
                        <i class="mui-icon mui-icon-search" style="margin-top:10px;"></i>
                        <input type="text" id="articleName" class="text" style="" value="$articleName"  placeholder="文章标题">
                        <a onclick="searchArticleInfo();" class="dbtn white">搜索</a>
                    </div>
                </div>
            </nav>
         </div>
       <input type="hidden" id="artiTitle" value="$articleName">
        <div id="refreshContainer" class="mui-scroll-wrapper" style="top:40px;">
            <div class="mui-scroll ip_check hk_list">
                <div class="mui-table-con">
                    <ul class="mui-table-view new_list2" id="cmsListTpl">
                    </ul>
                </div>
            </div>
        </div>
     </div>
</div>
<script src="${link.contextPath}/mstatic/js/cms/donkey_common.js" type="text/javascript"></script>
<script src="${link.contextPath}/mstatic/js/cms/donkey_service.js" type="text/javascript"></script>
<script src="${link.contextPath}/mstatic/js/cms/donkey_search_article.js" type="text/javascript"></script>
</body>
</html>