<!DOCTYPE html>
<html class="ui-page-login">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>驴服务</title>
#parse("mob/common/contextPath.vm")
	<style>
		.mui-pull-bottom-pocket{visibility:visible;}
	</style>
</head>
<body>
#*<header class="mui-bar mui-bar-nav  nopad">
	<div class="clear padd10_l d_border_b t_center ">
		<h1 class="htit yahei f15 black3">驴服务</h1>
	</div>
</header>*#
<div class="relative">
    <div class="clear  height40 clear b_white d_border_b">
        <div class="t_nav t_category t_center">
            <a href="javascript:;" class="qy cur">
				#if($columnName=='moreClassification')
                    <em class="yzjs">全部文章</em>
				#else
                    <em class="yzjs">$columnName</em>
				#end
                <i class="iconfont icon-xiasanjiao-copy f18"></i></a>
            <a href="javascript:;" class="px"><em class="pxn">全部</em><i class="iconfont icon-xiasanjiao-copy f18"></i></a>
        </div>
    </div>
</div>
<!--缓存栏目名称-->
<input type="hidden" id="columnsName" value="$columnName"/>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper top40">
    <div class="mui-scroll ip_check hk_list">
        <ul class="mui-table-view new_list2" id="cmsListTpl"></ul>
    </div>
</div>
<div class="box80"></div>
<div class="mask"></div>
<div  class="pop_alert pheight" id="yzjs">
	<div class="mui-popover-arrow"></div>
	<div class="mui-scroll-wrapper">
		<div class="mui-scroll">
			<ul class=" mui-table-view  list">
                   <li class="mui-table-view-cell cur"><a href="javascript:;" onclick="changeColumn('allArticle');">全部文章</a></li>
               #foreach($column in ${columnList})
				   <li class="mui-table-view-cell"><a href="javascript:;" onclick="changeColumn('$column.colName');">$column.colName</a></li>
                #end
			</ul>
		</div>
	</div>
</div>
<div  class="pop_alert pheight" id="paixu">
	<div class="mui-popover-arrow"></div>
	<div class="mui-scroll-wrapper">
		<div class="mui-scroll">
			<ul class=" mui-table-view  list">
				<li class="mui-table-view-cell cur"><a href="javascript:;" onclick="changeColumn('all');">全部</a></li>
				<li class="mui-table-view-cell"><a href="javascript:;" onclick="changeColumn('article');">文章</a></li>
				<li class="mui-table-view-cell"><a href="javascript:;" onclick="changeColumn('video');">视频</a></li>
			</ul>
		</div>
	</div>
</div>
<script src="${link.contextPath}/mstatic/js/cms/donkey_common.js" type="text/javascript"></script>
<script src="${link.contextPath}/mstatic/js/cms/donkey_column_list.js"></script>
</body>
</html>