<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>开发工具</title>
</head>
<body style="background: #fff;">
    <a href="${link.contextPath}/tools/uploadPage.do" style=" width: 50%;">上传页面</a>
</body>
</html>
