<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqcp.member.dao.mapper.MemberFavoriteMapper" >
  <resultMap id="BaseResultMap" type="com.gqcp.member.dao.model.MemberFavorite" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bo_id" property="boId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="res_id" property="resId" jdbcType="BIGINT" />
    <result column="is_auto" property="isAuto" jdbcType="TINYINT" />
    <result column="system_id" property="systemId" jdbcType="TINYINT" />
    <result column="data_remark" property="dataRemark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="version_remark" property="versionRemark" jdbcType="VARCHAR" />
    <result column="vno" property="vno" jdbcType="TIMESTAMP" />
    <result column="is_enabled" property="isEnabled" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bo_id, type, res_id, is_auto, system_id, data_remark, create_time, version_remark, 
    vno, is_enabled
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gqcp.member.dao.model.MemberFavoriteExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nxds_member_favorite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nxds_member_favorite
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nxds_member_favorite
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gqcp.member.dao.model.MemberFavoriteExample" >
    delete from nxds_member_favorite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gqcp.member.dao.model.MemberFavorite" >
    insert into nxds_member_favorite (id, bo_id, type, 
      res_id, is_auto, system_id, 
      data_remark, create_time, version_remark, 
      vno, is_enabled)
    values (#{id,jdbcType=BIGINT}, #{boId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, 
      #{resId,jdbcType=BIGINT}, #{isAuto,jdbcType=TINYINT}, #{systemId,jdbcType=TINYINT}, 
      #{dataRemark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{versionRemark,jdbcType=VARCHAR}, 
      #{vno,jdbcType=TIMESTAMP}, #{isEnabled,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.gqcp.member.dao.model.MemberFavorite" >
    insert into nxds_member_favorite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="boId != null" >
        bo_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="resId != null" >
        res_id,
      </if>
      <if test="isAuto != null" >
        is_auto,
      </if>
      <if test="systemId != null" >
        system_id,
      </if>
      <if test="dataRemark != null" >
        data_remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="versionRemark != null" >
        version_remark,
      </if>
      <if test="vno != null" >
        vno,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="boId != null" >
        #{boId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        #{resId,jdbcType=BIGINT},
      </if>
      <if test="isAuto != null" >
        #{isAuto,jdbcType=TINYINT},
      </if>
      <if test="systemId != null" >
        #{systemId,jdbcType=TINYINT},
      </if>
      <if test="dataRemark != null" >
        #{dataRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versionRemark != null" >
        #{versionRemark,jdbcType=VARCHAR},
      </if>
      <if test="vno != null" >
        #{vno,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gqcp.member.dao.model.MemberFavoriteExample" resultType="java.lang.Integer" >
    select count(*) from nxds_member_favorite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nxds_member_favorite
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.boId != null" >
        bo_id = #{record.boId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.resId != null" >
        res_id = #{record.resId,jdbcType=BIGINT},
      </if>
      <if test="record.isAuto != null" >
        is_auto = #{record.isAuto,jdbcType=TINYINT},
      </if>
      <if test="record.systemId != null" >
        system_id = #{record.systemId,jdbcType=TINYINT},
      </if>
      <if test="record.dataRemark != null" >
        data_remark = #{record.dataRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.versionRemark != null" >
        version_remark = #{record.versionRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.vno != null" >
        vno = #{record.vno,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isEnabled != null" >
        is_enabled = #{record.isEnabled,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nxds_member_favorite
    set id = #{record.id,jdbcType=BIGINT},
      bo_id = #{record.boId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=VARCHAR},
      res_id = #{record.resId,jdbcType=BIGINT},
      is_auto = #{record.isAuto,jdbcType=TINYINT},
      system_id = #{record.systemId,jdbcType=TINYINT},
      data_remark = #{record.dataRemark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      version_remark = #{record.versionRemark,jdbcType=VARCHAR},
      vno = #{record.vno,jdbcType=TIMESTAMP},
      is_enabled = #{record.isEnabled,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gqcp.member.dao.model.MemberFavorite" >
    update nxds_member_favorite
    <set >
      <if test="boId != null" >
        bo_id = #{boId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        res_id = #{resId,jdbcType=BIGINT},
      </if>
      <if test="isAuto != null" >
        is_auto = #{isAuto,jdbcType=TINYINT},
      </if>
      <if test="systemId != null" >
        system_id = #{systemId,jdbcType=TINYINT},
      </if>
      <if test="dataRemark != null" >
        data_remark = #{dataRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versionRemark != null" >
        version_remark = #{versionRemark,jdbcType=VARCHAR},
      </if>
      <if test="vno != null" >
        vno = #{vno,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnabled != null" >
        is_enabled = #{isEnabled,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gqcp.member.dao.model.MemberFavorite" >
    update nxds_member_favorite
    set bo_id = #{boId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      res_id = #{resId,jdbcType=BIGINT},
      is_auto = #{isAuto,jdbcType=TINYINT},
      system_id = #{systemId,jdbcType=TINYINT},
      data_remark = #{dataRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      version_remark = #{versionRemark,jdbcType=VARCHAR},
      vno = #{vno,jdbcType=TIMESTAMP},
      is_enabled = #{isEnabled,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>