body,div,table,thead,tbody,td{ margin: 0; padding: 0;}
.pDate_mask{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: #000; opacity: 0.8; z-index: 99;}
.pDate{ font-family: Microsoft YaHei; position: absolute; top: 50%; left: 0; right: 0; z-index: 100; text-align: center;}
.pDate td{ width: 14%;}
.pDate_header{ font-size:16px; line-height: 40px; background-color: #de4d3a; color: #fff; position: relative;}
.pDate_header a{ width: 20px; height: 15px; position: absolute; top: 12px; background: url(../img/icon.png) no-repeat; background-size: 20px 105px;}
.pDate_header .icon0{ background-position: 0 0; left: 15px;}
.pDate_header .icon1{ width: 13px; background-position: 0 -60px; left: 53px;}
.pDate_header .icon2{ width: 13px; background-position: right -90px; right: 53px;}
.pDate_header .icon3{ background-position: right -30px; right: 15px;}
.pDate_week,.pDate_day{ padding: 0 10px;}
.pDate_week{ background-color: #d0d0d0; line-height: 32px; color: #fff;}
.pDate_day{ background-color: #fff; color: #333; font-family: arial; overflow: hidden;}
.pDate_day table{ margin-top: -1px;}
.pDate_day td{ border-top: 1px solid #d0d0d0; line-height: 44px; position: relative;}
.pDate_day td span{ display: inline-block; width: 34px; height: 36px; line-height: 36px; padding-right: 2px; position: absolute; left: 50%; top: 50%; margin:-18px 0 0 -18px; border-radius: 36px; background-color: #de4d3a; color: #fff;}
.pDate_gray{ color: #999 !important;}