<!DOCTYPE html>
<html class="ui-page-login">
<head>
	#parse("pc/common/head.vm")
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<link href="${link.contextPath}/pbstatic/css/public.css" rel="stylesheet"/>
</head>
<body class="login">
<div class="login">
	<form id='login-form' class="login_form">
		<h1 class="t_center white">
			<img src="/pbstatic/images/dl_login.png" />
			<div class="box15"></div>
			<p class="f32">驴联网大数据管理平台</p>
		</h1>
		<div class="box20"></div>
		<div class="lg_form">
			<p><input  type="text" id="tel" class="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
					   placeholder="请输入手机号"></p>
			<p><input  type="password" id="password" class="text"  placeholder="请输入密码"></p>
			<p><input  type="button" class="btn f18 white" id="sendLogin" value="登录"></p>
		</div>
	</form>
</div>
<script src="${link.contextPath}/pbstatic/js/login.js" type="text/javascript"></script>
<script src="${link.contextPath}/common/sha1.js" type="text/javascript"></script>
</body>
</html>