#parse("mob/common/head.vm")
<link href="${link.contextPath}/mui/css/mui.picker.min.css" rel="stylesheet"/>
<title >我的地址</title>

</head>
<body>
#*<header class="mui-bar mui-bar-nav mjdp d_border_b" id="myAddrHead">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title yahei f15">我的地址</h1>
</header>*#
<input type="hidden" id="provinceId">
<input type="hidden" id="cityId">
<input type="hidden" id="countyId">
<input type="hidden" id="axis">
<input type="hidden" id="fullName">
<input type="hidden" id="modifySign">
<input type="hidden" id="boId">
<div class="mui-content mui-content1 d_detail d_margin" id="refreshContainer">
    <div class="d_dizhi"><img src="${link.contextPath}/mstatic/img/d_icon1.png" width="100%"/></div>
    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed mui-table-list" id="myAddrList">
    #*<li class="mui-table-view-cell mui-media">
            <a href="05求购详情.html">
                <div class="padd15_l">
                    <div class="mui-media-body">
                        <p class="black3 f15">
                            张三
                            <span class="gray_l pad40-l">136****0099</span>
                        </p>
                        <p class="gray_6">
                            <span class="d_blue d_bl_bor f12">默认</span>
                            <span class="pad40-l">地址：河北省石家庄市畜牧开发区29号</span>
                        </p>
                    </div>
                </div>
            </a>
            <div class="d_line"></div>
            <div class="mui-media-body padd15_l">
                <p class="black3">
					<span class="mui-pull-right d_btn">
						<button  class="mui-btn mui-btn-danger alertBtn" id="alertBtn">删除</button>
						<button  class="mui-btn mui-btn-primary">修改</button>
					</span>
                </p>
            </div>
        </li>*#
    </ul>
#*<div class="box10"></div>
<ul class="mui-table-view d_mylist">
    <li class="mui-table-view-cell mui-media">
        <a href="05求购详情.html">
            <div class="padd15_l">
                <div class="mui-media-body">
                    <p class="black3 f15">
                        张三
                        <span class="gray_l pad40-l">136****0099</span>
                    </p>
                    <p class="gray_6">
                        <span class="d_blue d_bl_bor f12">默认</span>
                        <span class="pad40-l">地址：河北省石家庄市畜牧开发区29号</span>
                    </p>
                </div>
            </div>
        </a>
        <div class="d_line"></div>
        <div class="mui-media-body padd15_l">
            <p class="black3">
                <span class="mui-pull-right d_btn">
                    <button  class="mui-btn mui-btn-danger alertBtn" id="alertBtn">删除</button>
                    <button  class="mui-btn mui-btn-primary">修改</button>
                </span>
            </p>
        </div>
    </li>
</ul>*#
</div>
<div class="box80" id="geshi1"></div>
<nav class="mui-bar mui-bar-tab d_addres b_white" id="dibu1">
    <div class="mui-content-padded">
        <button type="button" class=" mui-btn mui-btn-block d_bl white d_nobor" onclick="addAddr()"><i class="iconfont icon-tianjiadizhi f14 "></i>
            新增地址
        </button>
    </div>
</nav>
    #parse("mob/addr/addr_add.vm")
<script src="${link.contextPath}/mui/js/mui.poppicker.min.js" type="text/javascript"></script>
<script src="${link.contextPath}/common/template.js" type="text/javascript"></script>
<script src="${link.contextPath}/mstatic/js/addr/addr_my.js" type="text/javascript"></script>
<script src="${link.contextPath}/mui/js/mui.picker.min.js" type="text/javascript"></script>
<script src="${link.contextPath}/mui/js/muiDialog.js" type="text/javascript"></script>
<script src="${link.contextPath}/common/address3ji.js" type="text/javascript"></script>
<script type="text/javascript">
    contextPath = "${link.contextPath}";
</script>
<script src="${link.contextPath}/mui/Mymui/mcity.js" type="text/javascript"></script>
    #parse("mob/common/foot.vm")
