#parse("mob/common/head.vm")
<title>平台使用协议</title>
<style>
    ul {
        font-size: 14px;
        color: #8f8f94;
    }

    .mui-btn {
        padding: 10px;
    }
</style>
</head>
<body>
#*<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title yahei f15">平台使用协议</h1>
</header>*#
<div class="mui-content mui-content1">
    <div class="padd15 ">
        <p class="gray_6">本协议是您与驴联网站（简称"本网站"）所有者之间就驴联网站服务等相关事宜所订立的契约，在您注册成为本网站用户前请务必仔细阅读以下条款。若您一旦注册，则表示您同意接受本网站的服务并受以下条款的约束；若您不接受以下条款，请您立即停止注册或主动停止使用本网站的服务。</p>
        <div class="box10"></div>
        <p class="gray_6 fb">一、注册条件</p>
        <div class="box10"></div>
        <p class="gray_6">注册为本协议用户的个人主体的条件：持有中国有效身份证明的18周岁以上具有完全民事行为能力的自然人。如您不符合资格，请勿注册，否则本网站有权随时中止或终止您的用户资格。</p>
        <div class="box10"></div>
        <p class="gray_6 fb">二、本协议组成部分及签署和修订</p>
        <div class="box10"></div>
        <p class="gray_6">1、本协议的组成部分：包括但不限于本协议全全部条款及本网站已经或将来可能发布的各类规则。本协议是您与本网站共同签订的，适用于您在本网站的全部活动，您在本网站的全部行为所产生的权利、义务及法律责任均由您自行承担。</p>
        <div class="box10"></div>
        <p class="gray_6">2、本网站有权根据需要不时地修改本协议或根据本协议制定、修改各类具体规则并在本网站相关系统板块发布，无需另行单独通知您。若您在本协议及具体规则内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用本网站的服务；同时就您在协议和具体规则修订前通过本网站进行的交易及其效力，视为您已同意并已按照本协议及有关规则进行了相应的授权和追认（新修订的协议与具体规则不要求授权与追认的除外）。若您不同意修改后的协议内容，您应停止使用本网站的服务。</p>
        <div class="box10"></div>
        <p class="gray_6">3、您通过自行或授权有关方根据本协议及本网站有关规则、说明操作确认本协议后，本协议即在您和本网站之间产生法律效力。</p>
        <div class="box10"></div>
        <p class="gray_6 fb">三、网站服务内容及使用要求</p>
        <div class="box10"></div>
        <p class="gray_6">1、本网站提供的服务包括但不限于：发布行情信息、提供贷款平台、发布借款需求、查阅交易机会、签订和查阅合同、资金充值、提现、代收、代付等，具体以本网站当时提供的服务内容或产品为准。</p>
        <div class="box10"></div>
        <p class="gray_6">2、基于运行和交易安全的需要，本网站可以暂时停止提供、限制或改变本网站服务的部分功能，或提供新的功能。如您在上述改变发生后仍然使用本网站的服务，表示您已经同意上述改变。</p>
        <div class="box10"></div>
        <p class="gray_6">3、在您成功注册后，您可以自行或授权您的代理人根据本网站有关规则和说明，通过本网站确认签署有关协议、申请有关产品或服务、进行各种交易，通过您注册的账号进行的上述操作或交易均视为您本人或经您本人合法授权的代理人做出，由此产生的相应权利义务，均由您本人承接。</p>
        <div class="box10"></div>
        <p class="gray_6">4、您确认，您在本网站上按本网站服务流程所确认的交易状态将成为本网站为您进行相关交易或操作（包括但不限于冻结资金、代为支付或收取款项、订立合同等）的明确指令。您同意本网站有权按相关指令依据本协议和/或有关文件和规则对相关事项进行处理。</p>
        <div class="box10"></div>
        <p class="gray_6">5、因您未及时提交相关申请或对交易状态进行修改或确认所引起的任何纠纷或损失由您本人负责，本网站不承担任何责任。</p>
        <div class="box10"></div>
        <p class="gray_6">6、您在此同意将全面接受和履行与本网站其他主体（含服务或商品经营者等用户）在本网站签订的任何电子法律文本，并承诺按该等法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</p>
        <div class="box10"></div>
        <p class="gray_6 fb">四、责任限制</p>
        <div class="box10"></div>
        <p class="gray_6">1、对于您使用本网站服务过程中涉及由第三方提供相关服务的责任由该第三方承担，本网站不承担该等责任。因您自身的原因导致本网站服务无法提供或提供时发生任何错误而产生的任何损失或责任，由您自行负责，本网站不承担责任。</p>
        <div class="box10"></div>
        <p class="gray_6">2、在任何情况下，本网站及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员（以下称“本网站方”）均不以任何明示或默示的方式对您使用本网站服务而产生的任何形式的直接或间接损失承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等。</p>
        <div class="box10"></div>
        <p class="gray_6">3、因为本网站或者涉及的第三方网站的设备、系统存在缺陷、黑客攻击、网络故障、电力中断、计算机病毒或其他不可抗力因素造成的损失，本网站均不负责赔偿，您的补救措施只能是与本网站协商终止本协议并停止使用本网站。但是，中国现行法律、法规另有规定的除外。</p>
        <div class="box10"></div>
        <p class="gray_6">4、您承诺合法使用本网站提供的服务及网站内容。您不得利用本服务从事侵害他人合法权益之行为，不得在本网站从事任何可能违反中国的法律、法规、规章和政府规范性文件的行为或者任何未经授权的行为。</p>
        <div class="box10"></div>
        <p class="gray_6">5、您不得使用本网站提供的服务或其他电子邮件转发服务发出垃圾邮件或其他可能违反本协议的内容。</p>
        <div class="box10"></div>
        <p class="gray_6">6、本网站没有义务监测网站内容，但是您确认并同意本网站有权不时地根据法律、法规、政府要求透露、修改或者删除必要的信息，以便更好地运营本网站并保护自身及本网站的其他合法用户。</p>
        <div class="box10"></div>
        <p class="gray_6">7、本网站中全部内容的版权均属于本网站所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称“网站内容”）。网站内容受中华人民共和国著作权法及各国际版权公约的保护。未经本网站事先书面同意，您承诺不以任何方式、不以任何形式复制、模仿、传播、出版、公布、展示网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。您亦不得将本网站包含的资料等任何内容镜像放到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为，本网站将追究您的法律责任。</p>
        <div class="box10"></div>
        <p class="gray_6">8、由于您违反本协议或任何法律、法规或侵害第三方的权利，而引起第三方对本网站提出的任何形式的索赔、要求、诉讼，本网站有权向您追偿相关损失，包括但不限于本网站的法律费用、名誉损失、及向第三方支付的补偿金等。</p>
    </div>
</div>
</body>
</html>
